<!DOCTYPE html>
<html>
  <head>
    <title>Pizzahouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<html>
<head>
<style>
body  {
  background-image: url("https://media.istockphoto.com/photos/black-brick-wall-dark-background-for-design-picture-id639173848?k=6&m=639173848&s=170667a&w=0&h=XqsulkBZnsd4ANbC46bLodBSfZTblmrWonP4mKM-5so=");
  background-color: #cccccc;
}
</style>
</head>
<body>



</body>
</html>
